<nav class="navbar navbar-expand-lg navbar-dark fixed-top" #stickyMenu [class.sticky]="sticky">
  <a class="navbar-brand" href="#">
  <img class="logo" src="../../../assets/images/VIRAL BLANCO.png" width="250" alt="">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active" ml-3>
        <a class="nav-link uno" href="#">INICIO <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active" ml-3>
        <a class="nav-link dos" href="#">NOSOTROS <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active" ml-3>
        <a class="nav-link tres" href="#">SITIO WEB <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active" ml-3>
        <a class="nav-link cuatro" href="#">E-COMMERCE <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active" ml-3>
        <a class="nav-link cinco" href="#">APPS MÓVILES <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active" ml-3>
        <a class="nav-link seis" href="#">CONTÁCTANOS<span class="sr-only">(current)</span></a>
      </li>
    </ul>
  </div>
</nav>
